
        body {
            font-family: Arial, sans-serif;
        }

        header {
            text-align: center;
        
            padding: 10px;
        }

        #logo {
            max-width: 400px; /* Ajustez la largeur du logo selon vos besoins */
            height: auto;
            display: block; /* Permet de centrer le logo */
            margin: 0 auto; /* Centre le logo horizontalement */
        }

        section {
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }